<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restapi</title>
</head>
<body>
    <h3>Voltron: Hui Wang, Elizabeth Paperno <br>
        SoftDev <br>
        K20 -- restapi <br>
        2005-11-22 <br>
        time spent: 0.5 hrs
    </h3>
    <h2>NASA Picture of the Day</h2>
    <h3>{{title}}</h3>
    <img src={{image}}>
    <p>{{desc}}</p>
</body>
</html>